.portfolio-title {
  display: flex;
  align-items: center;
  p {
    font-size: 1.5em;
    color: #444;
  }
}

.contacts {
  text-align: left;
  ul {
    padding: 0;
  }
}

.avatar {
  border-radius: 50%;
  width: 150px;
  margin-right: 2em;
}